body {
    font-family: $font;
    color: $black;
    background-color: $bgColor;
    font-size: $text;
}
a {
    color: $black;
    &:hover {
        text-decoration: none;
        color: $black;
    }
}
li {
    list-style-type: none;
}
section {
    padding-top: 25px;
    margin-bottom: 100px;
}