.down {
    position: absolute;
    background: $white;
    width: 190px;
    box-shadow: 0px 3px 10px #00000040;
    display: none;
    z-index: 10;
    ul {
        padding: 10px 0px;
        li {
            width: 100%;
            a {
                line-height: 15px;
                font-size: $textS;
                width: 100%;
                padding: 7px 20px;
                @include transition(0.15s);
                &:hover {
                    background: $bgColor;
                }
            }
        }
    }
}