//slider
#slider {
    .owl-dots {
        position: absolute;
        bottom: -5%;
        left: 47%;
        button {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: $gray;
            margin-left: 10px;
            &:focus{
                outline: none;
            }
        }
        .active {
            background: $pColor;
        }

    }
}

//Featured Products
#products {
    .col-lg-12 {
        padding: 0px 7px;
        .card {
            padding: 15px;
            .cardHead {
                .rightHover {
                    position: absolute;
                    top: 5px;
                    right: -25px;
                    opacity: 0;
                    @include transition(0.15s);
                    a {
                        display: block;
                        i {
                            color: $gray;
                            font-size: $textL;
                            padding: 7px;
                            @include transition(0.15s);
                            &:hover {
                                color: $black;
                                background: $bgColor;
                            }
                        }
                        
                    }
                }
            }
            .cardBody {
                padding: 7px;
                a {
                    span {
                        color: $gray;
                        font-size: $textXS;
                        font-weight: 600;
    
                        @include transition(0.15s);
                        &:hover{
                            color: $hovered;
                        }
                    }
                }
                .price {
                    font-size: $textL;
                    font-weight: 700;
                }
                .new {
                    color: $red;
                }
                .last {
                    text-decoration-line: line-through;
                    font-weight: 400;
                    font-size: $textS;
                    color: gray;
                }
                .bottomHover {
                    position: absolute;
                    left: 7px;
                    bottom: -35px;
                    opacity: 0;
                    width: 95%;   
                    @include transition(0.15s);
                    a {
                        display: inline-block;
                        width: 100%;
                    }         
                }
            }
            .other {
                position: absolute;
                top: 0;
                color: white;
                span {
                    width: 60px;
                    height: 25px;
                    line-height: 25px;
                    display: inline-block;
                    font-weight: 600;
                    font-size: $textS;
                }
                .sale {
                    background: $red;
                }
                .new {
                    background: $blue;
                }
            }
            &:hover {
                .rightHover {
                    right: 5px;
                    opacity: 1;
                }
                .bottomHover {
                    bottom: 7px;
                    opacity: 1;
                }
            }
        }
    }
    
}

//Latest Collections
#collections {
    .body {
        border-left: 1px solid $border;
        padding: 15px 0px 25px 30px;
        h5 {
            font-weight: 700;
        }
        p {
            color: $gray;
            font-size: $textL;
        }
        a {
            padding: 10px 20px;
        }
    }
    .image {
        padding: 15px;
        background: $white;
        img {
            max-width: 100%;
        }
    }
    .col-lg-5 {
        padding: 0px 20px;
        .body {
            margin: 30px 0px 0px 35px;        
        }
    }
    .col-lg-7 {
        padding: 0px 20px;
        .body {
            margin-left: 35px;
        }
    }
}

//Popular Categories
#categories {
    .col-lg-2 {
        padding: 5px;
        .cardHead {
            padding: 15px;
            a {
                .category {
                    font-weight: 600;
                    display: inline-block;
                    margin-top: 10px;
                    @include transition(0.15s);
                }
                .count {
                    display: block;
                    font-size: $textS;
                    color: $gray;
                }
                &:hover {
                    .category {
                        color: $hovered;
                    }
                }
            }
        }
    }
}

//Latest Blog Posts 
#posts {
    .col-lg-12 {
        padding: 0px 7px;
        .cardBody {
            padding: 20px 25px 30px 25px;
            span {
                color: $gray;
                font-size: $textS;
                display: inline-block;
                margin-bottom: 5px;
            }
            a {
                p {
                    font-weight: 600;
                    font-size: $textL;
                }
            }
            .post {
                color: darken($gray,10);
                padding: 10px 0px;
                margin: 0;
            }
            .btn1 {
                padding: 3px 12px;
                font-size: $textXS;
            }
        }
    }
    .owl-nav {
        button {
            top: 46%;
        }
    }
}