//inheritance
%navItem {
    display: inline-block;
    a {
        font-weight: 600;
        line-height: 66px;
        padding: 0px 20px;
        display: inline-block;
        @include transition(0.15s); 
        &:hover {
            background-color: rgba(0,0,0,.04);
        }
    }
}

//header
header {
    border-bottom: 1px solid $border;
    .container-fluid {
        .container {
            .row {
                .col-lg-10 {
                    padding: 0;
                    a {
                        img {
                            max-width: 10%;
                        }
                    }
                    ul {
                        display: inline-block;
                        margin: 0px;
                        padding: 0px 15px;
                        li {
                            @extend %navItem;
                        }
                        .drop {
                            @extend %navItem;
                            position: relative;
                            &:after {
                                content: "\f107";
                                font-family: 'Font Awesome 5 Free';
                                position: absolute;
                                right: 5px;
                                top: 23px;
                                font-weight: 900;
                                color: $gray;
                            }
                            .right-drop {
                                position: relative;
                                &::after {
                                    content: "\f105";
                                    font-family: 'Font Awesome 5 Free';
                                    position: absolute;
                                    right: 20px;
                                    font-weight: 900;
                                    color: $gray;
                                }
                            }
                            .down2 {
                                left: 190px;
                                top: 0px;
                            }
                            .down-categories {
                                width: 1110px;
                                left: -190px;
                                padding: 30px;
                                .col-lg-2 {
                                    padding: 0px;
                                    a {
                                        color: gray;
                                        line-height: 10px;
                                        font-weight: 400;
                                        @include transition(0.15s);
                                        &:hover {
                                            background: $white;
                                            color: $hovered;
                                        }
                                    }
                                    .headingCategories {
                                        color: $black;
                                        font-weight: 600;
                                    }
                                }
                                .col-lg-4 {
                                    padding: 0;
                                    a {
                                        height: 100%;
                                        padding: 0;
                                        img {
                                            max-width: 105%;
                                        }
                                    }
                                }
                            }
                               
                            
                        }
                    }
                    .drop {
                        .down {
                            a {
                                line-height: 15px;
                                padding: 7px 20px;
                            }
                            ul {
                                padding: 10px 0px;
                            }
                        }
                    }
                }
                .col-lg-2 {
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            @extend %navItem;
                            a {
                                padding: 0px 10px;
                                position: relative;
                                i {
                                    font-size: 20px;
                                }
                                .fa-shopping-cart{
                                    &::after{
                                        content: "2";
                                        position: absolute;
                                        border-radius: 100%;
                                        width: 15px;
                                        height: 15px;
                                        font-size: 11px;
                                        background-color: $pColor;
                                        text-align: center;
                                        line-height: 15px;
                                        top: 13px;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                    .drop {
                        display: inline-block;
                        .down {
                            width: 300px;
                            left: -125px;
                            ul {
                                li {
                                    border-bottom: 1px solid $border;
                                    padding: 10px;
                                    .col-lg-4 {
                                        a {
                                            padding: 0;
                                            img {
                                                max-width: 80%;
                                            }
                                            &:hover {
                                                background: none;
                                            }
                                        }
                                    }
                                    .col-lg-8 {
                                        position: relative;
                                        padding: 0;
                                        a {
                                            padding: 0;
                                            line-height: 25px;
                                            width: auto;
                                            @include transition(0.15s);
                                            &:hover {
                                                background: none;
                                                color: $hovered;
                                            }
                                        }
                                        p {
                                            margin: 0;
                                            font-size: $textXS;
                                            color: $gray;
                                            line-height: 15px;
                                        }
                                        span {
                                            font-weight: 700;
                                            font-size: $textXS;
                                            line-height: 35px;
                                        }
                                        i {
                                            position: absolute;
                                            right: 20px;
                                            top: 7px;
                                            color: $gray;
                                            font-size: $textXS;
                                            cursor: pointer;
                                            @include transition(0.15s);
                                            &:hover {
                                                color: $red;
                                            }
                                        }
                                    }
                                    .col-lg-6 {
                                        p {
                                            line-height: 0px;
                                            padding: 5px;
                                            color: $gray;
                                            font-weight: 600;
                                        }
                                        a {
                                            line-height: 1;
                                            padding: 10px;
                                            font-size: $text;
                                            @include transition(0.15s);
                                            &:hover {
                                                background-color: $lightBlack;
                                                color: $white;
                                            }
                                        }
                                        
                                    }
                                    .text-right {
                                        p {
                                            color: $black;
                                        }
                                    }
                                }
                            }
                        }
                        .search {
                            position: absolute;
                            top: 0;
                            width: 1150px;
                            right: 0px;
                            display: none;
                            .row {
                                margin: 0;
                                .col-lg-12 {
                                    input {
                                        padding: 33px;
                                        border-radius: 1.5px;
                                        font-size: 22px;
                                        font-weight: 600;
                                        &:focus {
                                            border-color: $white;
                                            box-shadow: 0px 3px 10px #00000040;
                                        }
                                        &::placeholder {
                                            color: $gray;
                                        }
                                    }
                                }
                            }
                            button {
                                position: absolute;
                                top: 0px;
                                right: 15px;
                                height: 100%;
                                padding: 25px;
                                i {
                                    font-size: 20px;
                                    color: $gray;
                                    @include transition(0.5s);
                                
                                }
                                &:hover {
                                    i {
                                        color: $black;
                                    }
                                }
                                &:focus{
                                    box-shadow: none;
                                }
                            }
                            .btnSearch {
                                right: 80px;
                                border-right: 1px solid $border;
                                border-radius: 0;                           
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

//footer
footer {
    .mainRow {
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        padding: 50px 0px;
        .col-lg-4 {
            .content {               
                p {
                    color: lighten($black,30);
                    margin: 0;
                    padding: 0px 30px 20px 0px;
                }
                a {
                    display: block;
                    font-size: $textS;
                    font-weight: 600;
                    line-height: 2;
                    @include transition (0.15s);
                    &:hover {
                        color: $hovered;
                    }
                }
            }
            .follow {
                p {
                    padding-right: 0;
                }
                form {
                    input {
                        width: 65%;
                        border-radius: 1.5px;
                        background: $sColor;
                        display: inline-block;
                        &:focus {
                            outline: none;
                            background: $white;
                            box-shadow: none;
                            border-color: $border;
                        }
                        
                    }
                    button {
                        border: none;
                        padding: 11px 20px;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
                .socials {
                    a {
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        line-height: 28px;
                        margin-right: 3px;
                        text-align: center;
                        color: $lightBlack;
                        @include transition(0.15s);
                        i{
                            font-size: 16px;
                        }
                        &:hover {
                            background: $sColor;
                        }
                    }
                }
            }
        }
        .col-lg-2 {
            .content {
                ul {
                    padding: 0;
                    li {
                        line-height: 20px;
                        padding-bottom: 7px;
                        a {
                            color: lighten($black,30);
                            @include transition(0.15s);
                            &:hover {
                                color: $hovered;
                            }
                        }
                    }
                }
            }
        }
    }
    .created {
        padding: 15px 0px;
        a {
            font-size: $textS;
            color: lighten($black,30);
            @include transition (0.15s);
            &:hover {
                color: $hovered;
            }
        }
        span {
            font-size: $textS;
        }
    }
}