//font
$font: 'Open Sans', sans-serif;

//size
$text: 14px;
$text2: 15px;
$heading: 30px;

//color
$bgColor: #e6eef2;
$black: #333;
$white: #fff;
$red: #ff5959;
$gray: #b2b2b2;
$pColor: #ffd599;
$sColor: #576166;